# Copy this file to .env and modify the values for your setup.
# IMPORTANT: Dollar signs ($) in passwords must be escaped as $$.

# Database
# https://docs.n8n.io/hosting/configuration/environment-variables/database/
POSTGRES_DB=n8n_db
POSTGRES_USER=n8n_db_user
POSTGRES_PASSWORD=change_me

# Deployment
# https://docs.n8n.io/hosting/configuration/environment-variables/deployment/
N8N_ENCRYPTION_KEY=change_me_32_char_random_string
N8N_EDITOR_SUBDOMAIN=n8n
N8N_WEBHOOK_SUBDOMAIN=hooks-n8n
DOMAIN_NAME=example.com
N8N_PROTOCOL=https
N8N_PROXY_HOPS=1

# Queue mode
# https://docs.n8n.io/hosting/configuration/environment-variables/queue-mode/
REDIS_PASSWORD=change_me

# Timezone and localization
# https://docs.n8n.io/hosting/configuration/environment-variables/timezone-localization/
GENERIC_TIMEZONE=Asia/Manila

# User management and 2FA (SMTP)
# https://docs.n8n.io/hosting/configuration/environment-variables/user-management-smtp-2fa/
N8N_SMTP_HOST=smtp.gmail.com
N8N_SMTP_PORT=465
N8N_SMTP_USER=your_email@gmail.com
N8N_SMTP_PASS=your_gmail_app_password
N8N_SMTP_SENDER=n8n.example.com
